.barrel-roll,
.flip,
.spin {
    transform-origin: 50vw 50vh;
}

.barrel-roll {
    animation: barrel-roll 5s;
}

.flip {
    animation: flip 2s;
}

.spin {
    animation: spin 2s;
}

/* Keyframes */
@keyframes barrel-roll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes flip {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
