.barrel-roll,
.flip,
.spin {
    transform-origin: 50vw 50vh;
}

.barrel-roll {
    animation: barrel-roll 5s;
}

.flip {
    animation: flip 2s;
}

.spin {
    animation: spin 2s;
}

.red {
    background-color: theme("colors.red.400");
}

.orange {
    background-color: theme("colors.orange.400");
}

.yellow {
    background-color: theme("colors.yellow.400");
}

.green {
    background-color: theme("colors.green.400");
}

.blue {
    background-color: theme("colors.blue.400");
}

.indigo {
    background-color: theme("colors.indigo.400");
}

.purple {
    background-color: theme("colors.purple.400");
}

.blur {
    filter: blur(10px);
    transition-duration: 500ms;
}

/* Keyframes */
@keyframes barrel-roll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes flip {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
